.event-card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    height: 100%;
}

    .event-card:hover {
        transform: translateY(-5px);
    }

    .event-card .card-body {
        padding: 20px;
    }

    .event-card .card-title {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .event-card .card-text {
        margin-bottom: 5px;
    }

    .event-card .price {
        color: #007bff;
        font-weight: bold;
    }

    .event-card .spots {
        color: #28a745;
        font-weight: bold;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }
