@model CountryViewModel

<form asp-area="Admin" asp-controller="Country" asp-action="Edit" method="post">
    <div class="form-group">
        <label for="countryName">Country Name:</label>
        <input asp-for="Name" class="form-control" style="max-width: 300px;" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}