@{

}

<nav class="admin">
    <ul>
        <li><a asp-area="Admin" asp-controller="Country" asp-action="Index">Countries</a></li>
        <li><a asp-area="Admin" asp-controller="Region" asp-action="Index">Regions</a></li>
        <li><a asp-area="Admin" asp-controller="City" asp-action="Index">Cities</a></li>
        <li><a asp-area="Admin" asp-controller="Distillery" asp-action="Index">Distilleries</a></li>
        <li><a asp-area="Admin" asp-controller="Venue" asp-action="Index">Venues</a></li>
        <li><a asp-area="Admin" asp-controller="User" asp-action="Index">Users</a></li>
        <li><a asp-area="Admin" asp-controller="ForApprove" asp-action="Index">For Approve</a></li>
    </ul>
</nav>
