body {
    padding: 20px;
}

.container {
    max-width: 900px;
}

.whisky-image {
    max-width: 100%;
    height: auto;
}

.whisky-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.whisky-type {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #808080;
}

.whisky-info {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

    .whisky-info.main-img {
        margin-top: 0px;
    }

.whisky-info-box {
    display: flex;
}


.whisky-rating {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.box-img-div {
    width: 50px;
}

.box-img {
    width: 100%;
}

.box-content {
    margin-left: 16px;
    line-height: 1;
}

    .box-content p {
        color: darkgray;
    }

.row.box {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.whisky-age {
    text-align: center;
    color: black;
}

.description {
    max-width: 800px;
}

div.user-rating {
    border-right: 4px indianred solid;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
    font-weight: bold;
}
    div.user-rating .nose {
        background-image: linear-gradient(to right, purple, orange);
        border-radius: 0px 25px 5px 25px;
        margin-bottom: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
        
    }

    div.user-rating .taste {
        background-image: linear-gradient(to right, purple, orange);
        border-radius: 0px 25px 5px 25px;
        margin-bottom: 2px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    div.user-rating .finish {
        background-image: linear-gradient(to right, purple, orange);
        border-radius: 0px 25px 5px 25px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

div.rating-container{
    text-align:center;
}

h3 .whisky-rating{
    text-align:center;
}

div.whisky-buttons{
    display:flex;
    justify-content:space-evenly;
}

.heart-icon {
    cursor: pointer;
    width: 48px;
    height: 48px;
    fill: none;
    stroke: indianred;
    stroke-width: 1;
    transition: fill 0.3s ease;
}

    .heart-icon:hover {
        fill: #ff0000;
    }

    .heart-icon.active {
        fill: #ff0000;
    }

.container .whisky-title{
    display:flex;
    gap:40px;
    justify-content:center;
    align-content:center;
}