html {
    font-size: 14px;
}

body {
    font-family: 'Lora', serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@font-face {
    font-family: 'Lora';
    src: url('../Assets/Lora/static/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../Assets/Lora/static/Lora-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 8px 0;
    border-radius: 5px;
    animation: slideDown 0.5s forwards;
}

    .dropdown-menu li {
        padding: 5px 10px;
    }

        .dropdown-menu li:hover {
            background-color: #ddd;
        }

        .dropdown-menu li a:hover {
            background-color: #ddd;
        }

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


nav.admin {
    float: none;
    clear: both;
    width: 30%;
    margin: 5% auto;
    background: #eee;
}

    nav.admin ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    nav.admin li {
        float: none;
        width: 100%;
    }

        nav.admin li a {
            display: block;
            width: 100%;
            padding: 20px;
            border-left: 5px solid;
            position: relative;
            z-index: 2;
            text-decoration: none;
            color: #444;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

            nav.admin li a:hover {
                border-bottom: 0px;
                color: #fff;
            }

        nav.admin li:first-child a {
            border-left: 10px solid #3498db;
        }

        nav.admin li:nth-child(2) a {
            border-left: 10px solid #ffd071;
        }

        nav.admin li:nth-child(3) a {
            border-left: 10px solid #f0776c;
        }

        nav.admin li:nth-child(4) a {
            border-left: 10px solid #3498db;
        }

        nav.admin li:nth-child(5) a {
            border-left: 10px solid #ffd071;
        }
        nav.admin li:nth-child(6) a {
            border-left: 10px solid #f0776c;
        }

        nav.admin li:last-child a {
            border-left: 10px solid #1abc9c;
        }

        nav.admin li a:after {
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            width: 0px;
            position: absolute;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            z-index: -1;
        }

        nav.admin li a:hover:after {
            width: 100%;
        }

        nav.admin li:first-child a:after {
            background: #3498db;
        }

        nav.admin li:nth-child(2) a:after {
            background: #ffd071;
        }

        nav.admin li:nth-child(3) a:after {
            background: #f0776c;
        }

        nav.admin li:nth-child(4) a:after {
            background: #3498db;
        }

        nav.admin li:nth-child(5) a:after {
            background: #ffd071;
            }
        nav.admin li:nth-child(6) a:after {
            background: #f0776c;
        }
        nav.admin li:last-child a:after {
            background: #1abc9c;
        }
