.article-details-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.article-details-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 20px;
}

.article-details-title {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}

.article-details-info {
	font-size: 16px;
	color: #555;
	margin-bottom: 20px;
}

.article-details-content {
	font-size: 18px;
	line-height: 1.6;
	word-wrap: break-word;
}

div.btn-container {
	display: flex;
	justify-content: space-around;
}

.comment-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

	.comment-container button#submit-comment {
		all: unset;
		cursor: pointer;
		padding: 12px 24px;
		background: lightblue;
		border-radius: 15px;
	}

.comment-card {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	word-wrap: break-word;
}

.comment-info {
	font-size: 14px;
	color: #777;
	display: flex;
	justify-content: space-between;
}

textarea {
	resize: none;
}
