@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/landingPage.css">
<div class="background">
    <div class="content">

        <h1><span>The</span><br />Whisky Realm</h1>
        <p>Step into The Whisky Realm where excitement awaits you.</p>
        <div class="btn-container">
            <a href="/Identity/Account/Login"><button>Login</button></a>
            <a href="/Identity/Account/Register"><button>Register</button></a>
        </div>
    </div>
</div>