@using Microsoft.AspNetCore.Identity
@using TheWhiskyRealm.Infrastructure.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown" onmouseover="showDropdownMenu()" onmouseleave="hideDropdownMenu()">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu" id="profileDropdownMenu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" asp-area="" asp-controller="Whisky" asp-action="MyCollection">My Collection</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Review" asp-action="MyReviews">My Reviews</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Rating" asp-action="MyRatings">My Ratings</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Event" asp-action="MyEvents">My Events</a></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
