@inject IEventService eventService

@model ICollection<EventDetailsViewModel>
@{
}
<script src="~/js/Event/event.js"></script>
<a class="btn btn-primary" asp-controller="Event" asp-action="MyEvents">Joined events</a>
@foreach (var e in Model)
{

    <partial name="_EventDetailsPartial" model="@e" />
    <div class="d-flex justify-content-center gap-5">
        <a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-primary">Edit</a>
        <button class="btn-danger btn" onclick="confirmDeleteEvent(@e.Id)">Delete</button>
        <a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id" class="btn btn-primary">Details</a>
    </div>
}