@inject IEventService eventService
@using System.Security.Claims
@using TheWhiskyRealm.Core.Contracts
@using TheWhiskyRealm.Core.Models.Event
@model ICollection<EventDetailsViewModel>
@{
}
<script src="~/js/Event/event.js"></script>
<a class="btn btn-primary" asp-controller="Event" asp-action="MyEvents">Joined events</a>
@foreach (var e in Model)
{

    <partial name="_EventDetailsPartial" model="@e" />
    <a asp-controller="Event" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-primary">Edit</a>
    <button class="btn-danger btn" onclick="confirmDeleteEvent(@e.Id)">Delete</button>
}