@model DistilleryAddViewModel
@{

}
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YearFounded"></label>
        <input asp-for="YearFounded" class="form-control" />
        <span asp-validation-for="YearFounded" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegionId">Region</label>
        <select asp-for="RegionId" asp-items="@(new SelectList(Model.Regions, "Id", "Name"))" class="form-control"></select>
        <span asp-validation-for="RegionId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Region</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}